{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block body %}
    <h1>Hello AdminController!</h1>
    <div class="admin">
        <div class="dashboard">
            <h2><a href="{{ path('app_article_index') }}">Total Articles {{ articleCount }}</a></h2>
        </div>
        <div class="dashboard">
            <h2><a href="{{ path('app_itineraries_index') }}">Total Itineraries {{ itineraryCount }}</a></h2>
        </div>
        <div class="dashboard">
            <h2><a href="{{ path('app_guide_index') }}">Total Guides {{ guideCount }}</a></h2>
        </div>
        <div class="dashboard">
            <h2><a href="{{ path('app_language_index') }}">Total Language {{ languageCount }}</a></h2>
        </div>
        <div class="dashboard">
            <h2><a href="{{ path('app_location_index') }}">Total Location {{ locationCount }}</a></h2>
        </div>

    </div>
{% endblock %}
