{% extends 'base.html.twig' %}

{% block title %}Guide index{% endblock %}

{% block body %}
    <h1>Guide index</h1>
    <div class="create">
        <a href="{{ path('app_guide_new') }}">Create new</a>
    </div>
    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Firstname</th>
                <th>Lastname</th>
                <th>Bio</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for guide in guides %}
            <tr>
                <td>{{ guide.id }}</td>
                <td>{{ guide.firstname }}</td>
                <td>{{ guide.lastname }}</td>
                <td>{{ guide.bio }}</td>
                <td class="actions">
                    <a href="{{ path('app_guide_show', {'id': guide.id}) }}">show</a>
                    <a href="{{ path('app_guide_edit', {'id': guide.id}) }}">edit</a>
                    <a href="{{ path('app_guide_delete', {'id': guide.id}) }}">delete</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
