{% extends 'base.html.twig' %}

{% block title %}New Article{% endblock %}

{% block body %}
    <div class="forms">
        <h1>Create new Article</h1>

        {{ form_start(form) }}
        {{ form_widget(form) }}
        <button class="btn">{{ button_label|default('Save') }}</button>
        {{ form_end(form) }}

        <a href="{{ path('app_article_index') }}">Back to list</a>
    </div>
{% endblock %}
